*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

.div-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.div-menu li{
    list-style: none;
}

.div-menu a{
    text-decoration: none;
    margin: 0 40px;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.div-menu a:hover{
    text-decoration: underline;
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 45px;
}

section{
    background: #E8E3DB;
    max-width: 980px;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section div{
    border: 2px solid black; 
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    padding: 50px;
    flex: 1 1 200px;
    box-shadow: rgba(24, 14, 20, 0.048) -5px 5px, rgba(17, 4, 12, 0.3) -10px 10px, rgba(29, 3, 19, 0.2) -15px 15px, rgba(31, 3, 20, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; 
}

section a{
    text-decoration: none;
}

section p{
    margin: 10px 0px;
}

div p{
    color: black;
}

footer{
    margin-top: 100px;
}

@media(max-width: 510px){

    .div-menu ul{
        flex-direction: column;
        text-align: center;
    }

    .div-menu a{
        margin: 10px;

    }

    .div-menu li{
        padding: 20px 0px;
    }
}