*{
    margin: 0;
    padding: 0;
}

body{
   background: #E8E3DB;
}

.div-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.div-menu li{
    list-style: none;
    padding: 20px 0px;
}

.div-menu a{
    text-decoration: none;
    margin: 0 40px;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.div-menu a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

section{
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: auto;
}

section div{
    flex: 1 1 200px;
    margin: 10px;
    border: 1px solid #606060;
    padding: 20px;
    background: #FFEBFF;
    border-radius: 10px;
}

span, h2, p{
    padding: 10px 0px;
}

span{
    font-size: 50px;
}

h2{
    font-size: 18px;
}

p{
    margin-bottom: 30px;
    font-size: 18px;
}

section a{
    text-decoration: none;
    background: black;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
}

section a:hover{
    background: gray;
}